---
import { resume } from "../../data/resume";
import HeroStats from "./HeroStats.astro";

const { printable = false } = Astro.props;
---

<section class="hero">
  {
    !printable && (
      <span class="status"> Available for Remote Opportunities </span>
    )
  }

  {!printable && <h1>{resume.personal.name}</h1>}

  {!printable && <p class="tagline">{resume.personal.tagline}</p>}
  <HeroStats />
</section>
