---
import Layout from "../layouts/Layout.astro";

import Sidebar from "../components/Sidebar/Sidebar.astro";
import Hero from "../components/Hero/Hero.astro";

import SectionHeading from "../components/Common/SectionHeading.astro";

import Experience from "../components/Experience/Experience.astro";
import Projects from "../components/Projects/Projects.astro";

import { resume } from "../data/resume";
---

<Layout title="Divjot Singh | Resume">
  <div class="resume printable-resume">
    <Sidebar />

    <main>
      <section>
        <SectionHeading title="About" />

        <p class="about">
          {resume.about}
        </p>
      </section>
      <Hero printable />

      <Experience printable />

      <Projects printable />
    </main>
  </div>
</Layout>
